form.PVF(pv-filter="")
  input.PV-icon.sorted(
    ng-model="sorted",
    type="checkbox",
    title="ブックマーク数でソート")
  input.PV-icon.filtered(
    ng-model="filtered",
    type="checkbox",
    title="閾値以下の画像を表示しない")
  input.threshold(
    ng-show="filtered",
    ng-model="threshold",
    type="number",
    min=0,
    title="ブックマーク数で絞込み")
