.PV(
  ng-controller="PvCtrl",
  ng-show="view.opened")
  .PV-wrapper.rich-center(
    ng-controller="ViewCtrl",
    ng-click="close()")
    .PV-view(
      hidden="",
      ng-class="{'align-left': config.alignLeft && config.panelEnabled}",
      ng-style="{padding: config.margin + 'px'}")
      img.PV-image(
        ng-click="move($event)",
        pv-grab="",
        pv-src="model.path")
    .PV-alert(
      ng-show="view.message",
      ng-click="move($event)") {{ view.message }}
  .PV-page(ng-show="model.length") {{ model.page + 1 }}&ensp;/&ensp;{{ model.length }}
  include includes/panel
