div.PV-bookmark(ng-show="bookmarkForm")
  div.PV-box
    div.PV-box-inner(pv-include="bookmarkForm")
    input.close(
      type="button",
      ng-click="bookmarkForm = false"
      value="×")
button(
  ng-click="showBookmark(model.illustId)",
  data-bookmark='{{ model.bookmarkState }}',
  title='ブックマーク')
