details(open)
  summary Config
  .inner
    .config-item
      input(
        type="checkbox",
        ng-model="config.hideScrollBar",
        id="PV-hide-scrollbar")
      label(for="PV-hide-scrollbar") Viewer 表示時スクロールバーを自動で隠す
    .config-item
      input(
        type="checkbox",
        ng-model="config.alignLeft",
        id="PV-align-left")
      label(for="PV-align-left") 情報欄表示中は画像を左寄せにする
    .config-item
      label.align-horizontal
        span.range-label 画像のマージン
        input.range-ctrl(
          type="range",
          ng-model="config.margin",
          min="10",
          max="200")
        span.range-helper {{ config.margin }}
    .config-item
      label.align-horizontal
        span.range-label 情報欄の幅
        input.range-ctrl(
          type="range",
          ng-model="config.panelWidth",
          min="220",
          max="700")
        span.range-helper {{ config.panelWidth }}
    .config-item
      button.btn.btn-danger(ng-click="clear()") 設定をリセットする
