.PV-panel(
  ng-controller="PanelCtrl",
  ng-show="model.imgUrl",
  ng-style="getPanelStyle()")
  .PV-ctrl
    button.PV-icon(
      data-open='{{ config.panelEnabled }}',
      ng-click="config.panelEnabled = !config.panelEnabled"
      title='パネル切り替え')
    button.PV-icon(
      data-fit='{{ config.fitEnabled }}',
      ng-click="config.fitEnabled = !config.fitEnabled"
      title='画像サイズ切り替え')
    include bookmark
    include fav
    button.PV-icon(
      data-download="",
      ng-click="download(model)",
      title='表示中の画像をダウンロード')
    include option
  .PV-tool(ng-show="config.panelEnabled")
    div
      button.PV-icon(
        data-info='{{ config.infoEnabled }}',
        ng-click="config.infoEnabled = !config.infoEnabled"
        title='メタ情報切り替え')
      button.PV-icon(
        data-rate='{{ config.rateEnabled }}',
        ng-click="config.rateEnabled = !config.rateEnabled"
        title='レート表示切り替え')
      button.PV-icon(
        data-tags='{{ config.tagsEnabled }}',
        ng-click="config.tagsEnabled = !config.tagsEnabled"
        title='タグリスト切り替え')
      button.PV-icon(
        data-desc='{{ config.descEnabled }}',
        ng-click="config.descEnabled = !config.descEnabled"
        title='キャプション切り替え')
    div(ng-controller="ShareCtrl")
      div.v-divider
      include comments
      button.PV-icon(
        data-twitter="",
        ng-click="twitter()",
        title='Share on Twitter')
  .PV-profile(ng-show="config.panelEnabled")
    include profile
