base = 'http://www.pixiv.net/member_illust.php'
.PV-data
  a(ng-href="#{base}?mode=medium&illust_id={{ model.illustId }}") {{ model.title }}
  &nbsp;|&nbsp;
  a(ng-href="#{base}?id={{ model.auteurId }}") {{ model.auteur }}
.PV-data(ng-show="config.infoEnabled").
  閲覧数:   {{ model.rtv }}
  評価回数: {{ model.rtc }}
  総合点:   {{ model.rtt }}
.PV-data.PV-meta(
  ng-show="config.infoEnabled",
  ng-bind-html-unsafe="model.meta")
include rate
include questionnaire
.PV-data.PV-tag(
  ng-show="config.tagsEnabled",
  ng-bind-html-unsafe="model.tags")
.PV-data(
  ng-show="config.descEnabled",
  ng-bind-html-unsafe="model.desc")
