.PV-data.PV-rate(
  ng-controller="RateCtrl"
  ng-show="!model.myPage && config.rateEnabled")
  .rate-box.cf(ng-class="{complete: model.score}")
    i = 1
    l = 10
    - for (; i<=10; i++)
      button.PV-icon(
        tabindex="-1"
        ng-class="{mark: model.score == #{i}}"
        ng-click="rate(#{i})"
        value=i)
