ul.PV-toolbar
  li
    button(ng-click="config.fit=!config.fit")
      span._ui-tooltip(data-tooltip="画像サイズ切替(F)"
                       ng-class="config.fit?'i-over':'i-fit'")
  li.sub-menu(ng-class="{active:pix.rated}")
    button(ng-disabled="!pix || pix.self || rating" ng-click="rate(10)")
      span._ui-tooltip.i-rated(data-tooltip="10点(S)")
    ul.sub-nav.rater(ng-class="{rated: pix.rated}")
      - for (var i = 1; i<=10; i++)
        li(ng-class="{active: pix.score == #{i}}")
          button(ng-disabled="!pix || pix.self || rating" ng-click="rate(#{i})")
            span._ui-tooltip.i-rate(data-tooltip="#{i}点")
  li
    button(ng-disabled="!pix" ng-click="download()")
      span._ui-tooltip.i-download(data-tooltip="ダウンロード(D)")
  li
    button(ng-disabled="!pix" ng-click="tweet()")
      span._ui-tooltip.i-tweet(data-tooltip="つぶやく(T)")
  li.divider
  li.sub-menu(ng-class="{current:config.panel=='desc'}")
    button(ng-click="chagePanel('desc')")
      span._ui-tooltip.i-description(data-tooltip="作品情報(H)")
    ul.sub-nav
      li(ng-class="{current: config.meta}")
        button(ng-click="config.meta=!config.meta")
          span._ui-tooltip.i-meta(data-tooltip="メタ情報")
      li(ng-class="{current: config.chart}")
        button(ng-click="config.chart=!config.chart")
          span._ui-tooltip.i-chart(data-tooltip="チャート")
      li(ng-class="{current: config.caption}")
        button(ng-click="config.caption=!config.caption")
          span._ui-tooltip.i-caption(data-tooltip="キャプション")
      li(ng-class="{current: config.tags}")
        button(ng-click="config.tags=!config.tags")
          span._ui-tooltip.i-tags(data-tooltip="タグリスト")
  li(ng-class="{current:config.panel=='bookmark',     active:pix.bookmark}")
    button(ng-click="chagePanel('bookmark')")
      span._ui-tooltip.i-bookmark(data-tooltip="ブックマーク(B)")
  li(ng-class="{current:config.panel=='follow',       active:pix.favorite}")
    button(ng-click="chagePanel('follow')")
      span._ui-tooltip.i-follow(data-tooltip="フォロー")
  li(ng-class="{current:config.panel=='question',     active:pix.answered}")
    button(ng-disabled="!pix.hasQuestionnaire"
           ng-click="chagePanel('question')")
      span._ui-tooltip.i-questionnaire(data-tooltip="アンケート")
  li(ng-class="{current:config.panel=='comments'}")
    button(ng-click="chagePanel('comments')")
      span._ui-tooltip.i-comments(data-tooltip="コメント(C)")
  li.divider
  li(ng-class="{current:config.panel=='cog'}")
    button(ng-click="chagePanel('cog')")
      span._ui-tooltip.i-cog(data-tooltip="設定")
  li(ng-class="{current:config.panel=='help'}")
    button(ng-click="chagePanel('help')")
      span._ui-tooltip.i-help(data-tooltip="ヘルプ(?)")
